#wrapper {
	display: flex;
	height: 300px;
	width: 600px;
	text-align: center;
}

div {
	text-align: center;
	padding: 25px;
}

#div1 {
	background-color: red;
	height: 50%;
	width: 100%;
	border-radius: 25px;
}

#div2 {
	background-color: blue;
	height: 50%;
	width: 100%;
	border-radius: 25px;
}

#div3 {
	background-color: blue;
	color: white;
	height: 15%;
	width: 100%;
	border-radius: 15px;
}

#div4 {
	background-color: yellow;
	color: white;
	height: 15%;
	width: 100%;
	border-radius: 15px;
}

#div5 {
	background-color: red;
	color: white;
	height: 15%;
	width: 100%;
	border-radius: 15px;
}

#div6 {
	background-color: black;
	color: white;
	height: 15%;
	width: 100%;
	border-radius: 15px;
}
