.calendar {
	top: 0em;
	left: 1em;
	padding-top: 10px;
	padding-right: 16px;
	padding-bottom: 5px;
	width: 80px;
	background: #ededef;
	font-size: 54px;
	text-align: center;
	color: #000;
	border-radius: 3px;
	position: absolute;
}

.calendar em {
	display: block;
	font-size: 15px;
	color: #fff;
	background: #04599a;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	position: absolute;
}

.calendar:before,
.calendar:after {
	content: "";
	width: 11px;
	height: 11px;
	background: #111;
	z-index: 1;
	border-radius: 10px;
	box-shadow: 0 1px 1px #fff;
}

.calendar:before {
	margin-left: 16px;
	float: left;
}
.calendar:after {
	margin-right: 0px;
	float: right;
}

.calendar em:before,
.calendar em:after {
	content: "";
	margin-top: -83px;
	width: 6px;
	height: 26px;
	background: #cccccc;
	z-index: 3;
	border-radius: 5px;
}
.calendar em:before {
	margin-left: 19px;
	float: left;
}
.calendar em:after {
	margin-left: 47px;
	float: right;
}
